:root {
    --header-height: 60px;
    --blue0: #E1F5FE;
    --blue1: #B3E5FC;
    --grey2: #757575;
    --grey1: #BDBDBD;
    --grey0: #FAFAFA;
}

.main-about-me .content {
    max-width: 680px;
    margin: auto;
    /* padding-top: 42px; */
}

.main-about-me .logo-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 40px 0 0 0;
}

.main-about-me .logo-images img {
    height: 50px;
    margin-right: 20px;
    margin-bottom: 40px;
}

.main-about-me .logo-images img.logo-black-baza {
    height: 70px;
}

.main-about-me .text-container {
    max-width: 680px;
}

.main-about-me .card-contact {
    padding: 30px;
    background: var(--blue0);
    border-radius: 1%;
}

.main-about-me .card-contact h2 {
    margin-top: 0;
}

.main-about-me .card-contact .button-container {
    display: block;
    margin-top: 20px;
    text-align: right;
}