.main-about-me .content {
    max-width: 680px;
    margin: auto;
}

.main-about-me .logo-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px -180px 0;
}

.main-about-me .logo-images img {
    height: 40px;
    margin-right: 20px;
    margin-bottom: 40px;
}

.main-about-me .text-container {
    max-width: 680px;
}