/* Variables */

:root {
    --header-height: 60px;
    --blue0: #E1F5FE;
    --blue1: #B3E5FC;
    --grey2: #757575;
    --grey1: #BDBDBD;
    --grey0: #FAFAFA;
    --pink2: #C2185B;
}

.case-study-detailed .content {
    max-width: 680px;
}

.case-study-detailed .subtitle {
    color: var(--grey2);
    font-size: 22px;
    margin-top: 1.36em;
    margin-bottom: 1.36em;
}

.case-study-detailed .case-study-date {
    color: var(--grey2);
    font-size: 18px;
    display: block;
    margin-top: -30px;
}

.case-study-detailed .case-study-date a {
    color: var(--grey2);
}

.metadata-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 45px;
    border: 4px solid var(--blue0);
    /* margin-left: -20%;
    margin-right: -20%; */
    margin-left: -180px;
    margin-right: -180px;
    /* background: var(--grey0); */
}

.metadata-container .metadata {
    width: 32%;
}

.metadata h6 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 0;
}

.metadata-container p:not(:last-child) {
    margin-bottom: 0;
}

.metadata-container ul {
    padding-left: 20px;
}

.metadata-container ol {
    padding-left: 20px;
}

.text-container figure {
    margin-bottom: 30px;
}

.read-next {
    /* Same as Contact Me card */
    padding: 30px 45px;
    background: var(--blue0);
    border-radius: 1%;
}

.read-next h6 {
    margin-top: 0;
}

.read-next-title {
    color: var(--grey2);
}

.read-next-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.read-next-content .read-next-article-img-a {
    max-width: 25%;
}

.read-next-content .read-next-article-heading-a {
    text-decoration: none;
}

.read-next-content .read-next-article-heading-a * {
    margin-top: 0;
}

/* Specific  case studies */

figure.final-design-screenshot {
    max-width: 50%;
}