/* Variables */

:root {
    --header-height: 60px;
    --blue0: #E1F5FE;
    --blue1: #B3E5FC;
    --grey2: #757575;
    --grey1: #BDBDBD;
}

/* 
Style for the Home Page
*/

.main-home section {
    padding-top: 60px;
    padding-bottom: 60px;
}

/* Section: Hero */

section.hero {
    padding-top: 150px;
    padding-bottom: 150px;
    background: var(--blue0);
}

.hero-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hero-content h1 {
    margin: 0;
}

.hero-content img.profile {
    width: 330px;
    border-radius: 50%;
    margin-left: 30px;
    flex-shrink: 0;
}

p.hero-collaborate-title {
    margin-bottom: 10px;
    margin-top: 60px;
}

/* Section: Recent Work */

.title-recent-work {
    margin-bottom: 15px;
}

.case-studies {
    display: flex;
    flex-direction: column;
}

.case-study {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 15px;
    margin-bottom: 30px;
}

.case-study h3, .case-study h4 {
    margin: 0;
}

.case-study .case-study-title a {
    text-decoration: none;
    /* Unsets the letter-spacing that is applied for 'a' for the rest of the document */
    letter-spacing: unset;
}

.case-study .case-study-title a:hover {
    color: unset;
}

.case-study .column.text {
    padding-right: 15px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.case-study .column.image {
    padding-left: 15px;
    width: 50%;
    /* padding-left: 30px; */
}

.case-study .column.image img {
    max-width: 100%;
    max-height: 260px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.secondary-case-studies .case-study .column.image img {
    max-height: 200px;
}

.case-study .button-container {
    align-self: start;
    margin-top: 20px;
    display: block;
}

.secondary-case-studies {
    display: flex;
    flex-direction: row;
}

.secondary-case-studies .case-study {
    flex-direction: column;
    justify-content: flex-start;
    width: 33.333333%;
    margin-bottom: unset;
}

.secondary-case-studies .case-study:not(:last-child) {
    margin-right: 15px;
}

.secondary-case-studies .case-study:not(:first-child) {
    margin-left: 15px;
}

.secondary-case-studies .case-study .column.image {
    width: 100%;
    /* margin-bottom: 20px; */
    padding-left: unset;
}

.secondary-case-studies .case-study .column.text {
    width: 100%;
    padding-left: 0;
    padding-top: 15px;
    padding-right: unset;
}

.secondary-case-studies .column.text button {
    width: max-content;
}

.secondary-case-studies .case-study.about-me {
    /* background: #F8BBD0; */
    /* border: 1px solid var(--grey2); */
    background: #E1F5FE;
    border-radius: 1%;
    justify-content: center;
    align-items: center;
}