/* 
Style for the Home Page
*/

/* Section: Hero */
section.hero {
    padding-top: 150px;
    padding-bottom: 150px;
    background: #E1F5FE;
}

.hero-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hero-content h1 {
    margin: 0;
}

.hero-content img.profile {
    width: 330px;
    border-radius: 50%;
    margin: 30px;
    flex-shrink: 0;
    border: 1px solid #E1F5FE;
}

.hero-content button {
    display: none;
}

.hero-content .icon-images {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.hero-content .icon-images img{
    height: 30px;
    margin-right: 15px;
}

.hero-subtitle {
    height: 200px;
    background: #E1F5FE;
}

.hero-subtitle .content p {
    width: 75%;
    flex-direction: row-reverse;
}

p.hero-collaborate-title {
    margin-bottom:10px;
    margin-top: 60px;
}

/* Section: Recent Work */

.title-recent-work {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    color: grey;

    /* margin-bottom: 30px; */
    font-family: 'IBM Plex Sans', sans-serif;
}

.case-studies {
    z-index: 10;
    display: flex;
    flex-direction: column;
}

.three-case-studies {
    display: flex;
    flex-direction: row;
}

.case-study {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* .case-study .column {
    width: 50%;
} */



.case-study h3 {
    margin: 0;
}

.case-study .column.text {
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.case-study .column.image {
    width: 50%;
    max-height: 260px;
    /* padding-left: 30px; */
}

.case-study .column.image img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    width: 100%;
    max-height: 100%;
}

/* .case-study:nth-child(2) .column.image img, .case-study:nth-child(3) .column.image img {
    object-position: top;
} */

.case-study .button-container {
    align-self: start;
    margin-top: 40px;
}

.three-case-studies .case-study {
    flex-direction: column;
    justify-content: flex-start;
    max-width: 50%;
    margin-bottom: unset;
    /* max-height: 330px; */
}

.three-case-studies .case-study:not(:last-child) {
    margin-right: 30px;
}

.three-case-studies .case-study:not(:first-child) {
    margin-left: 30px;
}

.three-case-studies .case-study .column.image {
    width: 100%;
    max-height: 280px;
}

.three-case-studies .case-study .column.text {
    width: 100%;
    padding-left: 0;
    padding-top: 30px;
}


.three-case-studies .column.text button {
    width: max-content;
}

.three-case-studies img {
    margin-bottom: 20px;
}

/* Section: About Me */

.about-me {
    background: #E1F5FE;
    /* padding-top: 100px;
    padding-bottom: 100px; */
    margin-bottom:0;
}

.about-me .container {
    display: flex;
    flex-direction: column;
}

.about-me .text {
    width: 75%;
}

.about-me .icon-images {
    display: flex;
    flex-direction: row;
    /* margin-left: 30px; */
}

.about-me .icons img{
    height: 30px;
    margin-right: 15px;
}

/* a.active {
    font-weight: 500;
} */