figure {
    margin: 0;
}

header {
    height: 50px;
    width: 100%;
    background:#B3E5FC;
    /* border-bottom: 1px solid black; */
}

/* header .content {
    max-width: 680px;
} */

header nav, header .content {
    height: 100%;
}

header nav {
    display: flex;
    align-items: center;
}

header nav a {
    padding-right: 50px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    /* font-weight: 400; */
}

header a.header-back {
    cursor: pointer;
}

body {
    margin: unset;
}

main {
    display: flex;
    flex-direction: column;
}

section {
    padding-top: 60px; padding-bottom: 60px;
}

img {max-width:100%; height:auto}

.content {
    max-width: 1040px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
}

footer {
    height: 500px;
    margin-top: 30px;
    background-color:#B3E5FC;
}

.clear {
    clear: both;
}

div.separator {
    border-bottom: 1px solid #ccc;
    margin-top: 30px;
    margin-bottom: 30px;
}

