/* Tablet layout */

@media screen and (min-width: 600px) and (max-width: 1040px) {
    .text-container figure.center-wide {
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .text-container figure.left-offset {
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
        float: none;
    }
    .metadata-container {
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .main-about-me .logo-images {
        margin-left: auto;
        margin-right: auto;
    }
}

/* Mobile layout */

@media screen and (max-width: 600px) {
    body, p, ul, li, blockquote, .body1 {
        font-size: 14px;
    }
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 26px;
    }
    h3 {
        font-size: 22px;
    }
    h4 {
        font-size: 18px;
    }
    .subtitle {
        font-size: 16px;
    }
    .small-heading {
        font-size: 14px;
    }
    .tag {
        font-size: 14px;
        margin-right: 5px;
        margin-bottom: 10px;
        padding: 3px;
    }
    .tag:not(:last-child):after {
        padding-left: 5px;
    }
    p.tags {
        line-height: 0.3;
    }
    button {
        background-color: black;
        color: white;
        padding: 10px 20px;
        font-size: 14px;
        font-weight: 300;
    }
    figcaption {
        font-size: 11px;
    }
    /* Layout */
    header nav a:not(:last-child) {
        padding-right: 20px;
    }
    header .social-media-icons a {
        /* line-height: var(--header-height); */
        font-size: 18px;
        padding-left: 20px;
    }
    /* Home page */
    .main-home section.hero {
        padding: 90px 0;
    }
    .main-home section {
        padding: 30px 0;
    }
    .main-home .hero-content img {
        display: none;
    }
    .title-recent-work {
        font-size: 14px;
    }
    .case-study {
        flex-direction: column;
    }
    .case-study .column.image {
        width: 100%;
        padding-left: 0;
    }
    .case-study .column.text {
        width: 100%;
        padding-left: 0;
        padding-top: 15px;
        padding-right: 0;
    }
    .case-study .button-container {
        margin-top: 0;
    }
    .secondary-case-studies {
        flex-direction: column;
    }
    .secondary-case-studies .case-study {
        width: 100%;
        margin-bottom: 30px;
    }
    .secondary-case-studies .case-study h4 {
        /* Include h3 style */
        font-size: 22px;
    }
    .secondary-case-studies .case-study:not(:first-child) {
        margin-left: 0;
        margin-right: 0;
    }
    .secondary-case-studies .case-study.about-me {
        padding: 30px;
    }
    .secondary-case-studies .case-study.about-me h4 {
        margin-bottom: 15px;
    }
    /* Case study page */
    .case-study-detailed .subtitle {
        font-size: 16px;
    }
    .case-study-detailed .case-study-date {
        font-size: 14px;
        margin-top: -22px;
    }
    .text-container figure.center-wide {
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .text-container figure.left-offset {
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
        float: none;
    }
    .metadata-container {
        margin-left: 0;
        margin-right: 0;
    }
    .metadata-container .metadata {
        width: 100%;
    }
    /* About me page */
    .main-about-me .logo-images {
        margin: 20px auto 0;
    }
    .main-about-me .logo-images img {
        /* width: 200px; */
        height: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
    }
}