/* Variables */

:root {
    --header-height: 60px;
    --blue0: #E1F5FE;
    --blue1: #B3E5FC;
    --grey2: #757575;
    --grey1: #BDBDBD;
    --pink2: #C2185B;
}

body, p, ul, li, blockquote, .body1 {
    font-size: 18px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'IBM Plex Sans', sans-serif;
    letter-spacing: -0.5px;
    line-height: 1.35;
    margin-top: 1.1em;
    margin-bottom: 0.8em;
}

h1 {
    font-size: 42px;
    font-weight: 500;
}

h2 {
    font-size: 36px;
    font-weight: 500;
}

h3 {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: -1px;
}

h4 {
    font-size: 26px;
    font-weight: 500;
    /* margin-bottom: 15px; */
}

h5 {
    font-size: 22px;
    font-weight: 500;
}

h6 {
    font-size: 18px;
    font-weight: 500;
}

.subtitle {
    font-size: 24px;
    font-weight: 400;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
}

.small-heading {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    color: var(--grey2);
}

.tag {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 18px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 10px;
    padding: 3px;
    color: var(--grey2);
}

.tag:not(:last-child):after {
    content: "●";
    padding-left: 5px;
}

p.tags {
    line-height: 0.5;
}

button {
    background-color: white;
    border: 1px solid black;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.5px;
    cursor: pointer;
}

button:hover {
    background: black;
    color: white;
}

a {
    color: black;
    letter-spacing: 0.5px;
}

a:hover {
    color: var(--pink2);
}

figcaption {
    text-align: center;
    color: var(--grey2);
    font-size: 14px;
}

blockquote {
    font-style: italic;
    color: var(--grey2);
    font-weight: 400;
    margin-left: 0;
    border-left: 4px solid var(--blue1);
    padding-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.text-grey {
    color: var(--grey2);
}

.highlight {
    font-weight: 500;
}

.heading {
    font-size: 36px;
}